.card-transform {
  transform: scale(1.05) translateY(-27px);
}
.btn-custom {
  background-color: rgb(221, 225, 230);
}

body {
  font-family: "Poppins", sans-serif;
}

.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
  top: 60px;
  right: -25px;
}
