.card-transform {
  transform: scale(1.05) translateY(-27px);
}
.btn-custom1 {
  background-color: lightseagreen;
}

body {
  font-family: "Poppins", sans-serif;
}

.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
  top: 60px;
  right: -25px;
}
